<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:SSS} [%t] %-5level %logger{36} - %msg%n}{TRACE=magenta}" disableAnsi="false"/>
        </Console>

        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <!-- Name is full name of class/package, logger of what you want to specify -->
        <!-- level is minimal level of message importance that we configure by this tag -->
        <Logger name="ua.drovolskyi.in.lab2.lab2backend" level="debug" additivity="false">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>

        <!-- Logger policy for rest of classes/packages -->
        <Root level="error">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>